<h1>Edit Task list</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.task_list_path(@conn, :update, @task_list)) %>

<span><%= link "Back", to: Routes.task_list_path(@conn, :index) %></span>
